.table-container {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.responsive-table th,
.responsive-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.responsive-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.responsive-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.clickable-row:hover {
  background-color: #472b2b;
  cursor: pointer;
}

.expanded-row {
  background-color: #f9f9f9;
}

.expanded-content {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
}

.character-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}
