.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    color: #4a4a4a; 
  
    .empty-state-icon {
      width: 150px; 
      height: auto;
      margin-bottom: 20px; 
    }
  
    .empty-state-text {
      font-size: 1.2rem; 
      color: #6a6a6a; 
    }
  }
  