.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden; 
}

.search-input {
  padding: 10px 10px 10px 30px; 
  font-size: 16px;
  border: none; 
  outline: none;
  width: 300px;
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: #aaa;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none; 
  border-radius: 25px 25px 25px 25px;
  background-color: #6a5acd;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #836fff;
}
